<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site"    content="@LinuxAppSummit">
  <meta name="twitter:creator" content="@LinuxAppSummit">
  <meta name="twitter:description" content="The Linux App Summit (LAS) is designed to accelerate the growth of the Linux application ecosystem by bringing together everyone involved in creating a great Linux application user experience.">
  <meta name="twitter:title"   content="{{ page.title }}">
  <meta name="twitter:image" content="{{ site.url }}/assets/2020-LAS-hero.png">

  {% assign title = page.title | default: site.title | escape %}
  {% assign canonical = page.url | replace:'index.html','' | absolute_url %}
  {% assign description = page.description | default: page.excerpt | default: site.description | strip_html | normalize_whitespace | escape %}
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  {% if page.keywords %}
    {% if page.keywords.first %}
      {% assign keywords = page.keywords | join: ',' %}
    {% else %}
      {% assign keywords = page.keywords %}
    {% endif %}
    <meta name="keywords" content="{{ keywords }}">
  {% endif %}

  <link rel="stylesheet" href="{{ "/assets/main.css" | absolute_url }}">
  <link rel="canonical" href="{{ canonical }}">
  {% assign feed_path = "/feed.xml" %}
  {% if site.feed and site.feed.path %}
    {% assign feed_path = site.feed.path %}
  {% endif %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ feed_path | absolute_url }}">
  <link href="https://fonts.googleapis.com/css?family=Mate|Open+Sans|Open+Sans+Condensed:300|Kanit" rel="stylesheet">
</head>
