---
layout: bare
title: "Linux App Summit 2020"
permalink: /
---

<img src="assets/2020-LAS-hero.svg" style="margin: 0" />

<hr/>
<div class="las-banner" style="background-color: #121b86">
    <h2>ABOUT</h2>
    <p>
        The Linux App Summit (LAS) is designed to accelerate the growth of the 
        Linux application ecosystem by bringing together everyone involved in 
        creating a great Linux application user experience.
    </p>

    <button class="button" onclick="window.location.href='/whatis'">Read More</button>
</div>

<hr/>
<div class="las-banner" style="background-color: white; color: black;">
    <h2>JOIN US</h2>
    <p>
        This year's Linux App Summit will be a virtual conference that will span across multiple time zones. Everyone is welcome to join! 
    </p>
    <button class="button" onclick="window.location.href='/register'">Join Us</button>
</div>

<hr/>
<div class="las-banner" style="background-color: #121b86;">
    <h2>KEYNOTE SPEAKER</h2>
    <p>
        <div>
            <img src="/assets/Melissa_Cropped.png" style="height: 200pt; margin-left: 1cm; float: right; overflow:hidden;" alt="Melissa" />
            <h3>Melissa Logan</h3>
            <p>
            A 20-year veteran of technology marketing that began in the dot-com era, Melissa Logan pioneered the role of the open source marketer that helped fuel the rise of open source software development. She led marketing for open source projects at The Linux Foundation and founded Constantia.io, a firm that supports open source projects/companies such as Apache Cassandra, Tidelift, and others. Previously, she worked with companies as diverse as Microsoft, Isilon (acquired by EMC), Octarine (acquired by VMware), Meridian (acquired by Aruba Networks), and others.
            </p>

            <p>
            Logan loves all things open source and community, and spends the rest of her time riding horses in the vaquero style. She launched the Sexism Field Guide in 2018 to help people identify and confront all forms of sexism. Logan graduated from the University of Oregon with a degree in Journalism and Political Science, but only uses one of those. Life goal: The benevolent advancement of humanity’s best ideas.
            <a href="https://twitter.com/Melissa_B2B" title="@Melissa_B2B"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg></a>
            </p>
        </div>
    </p>
</div>

<hr/>

<div class="las-banner" style="background-color: #121b86;">
    <h2>KEYNOTE SPEAKER</h2>
    <p>
        <img src="/assets/Greg_Cropped.png" style="height: 200pt; margin-right: 1cm; float: left" alt="Greg" />
        <h3>Greg Kroah-Hartman</h3>
        <p height=400px class=greg>
            Greg Kroah-Hartman is a Fellow at the Linux Foundation. He is currently responsible for the stable Linux kernel releases, and is a maintainer of the USB, TTY, and driver core subsystems in the kernel as well as other portions of the kernel codebase that he wishes he could forget about.

            <a href="https://twitter.com/gregkh" title="@gregkh"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg></a>
        </p>
    </p>
</div>

<hr/>

<div class="las-banner" style="background-color: white; color: black;">
    <h2>SPONSORS</h2>
    <div class="sponsors">
        <img src="/assets/collabora.svg" alt="Collabora" />
        <img src="/assets/canonical.png" alt="Canonical" /><br />
        <img src="/assets/elementary.svg" alt="elementary" />
        <img src="/assets/redhat.png" alt="Red Hat" />
        <img src="/assets/codethink.svg" alt="Codethink" />
        <img src="/assets/opensuse.png" alt="openSUSE" />
    </div>
</div>

<hr/>
